

.dhtmlgoodies_question{	/* Styling question */
	/* Start layout CSS */
	
	width:430px;
	margin-bottom:2px;
	margin-top:0px;
	padding-left:2px;
	/*height:27px;*/
	border:0px solid black;
	/* End layout CSS */
	position:relative;
	float:left;
	overflow:hidden;
	cursor:pointer;
	color:#2a87fe;
}
.dhtmlgoodies_answer{	/* Parent box of slide down content */
	/* Start layout CSS */
	border:1px solid #317082;
	/*background-color:#E2EBED;*/
	width:40%;
	
	/* End layout CSS */

	visibility:hidden;
	height:0px;
	overflow:hidden;
	position:absolute;
	float:left;
	margin-top:35px;
	clear:both;
	background-color:#f7f7f7;

}
.dhtmlgoodies_answer_content{	/* Content that is slided down */
	padding:1px;
	font-size:0.9em;
	position:relative;
}



