@font-face {
  
	
	
	font-family: 'museo300';
    src: url('../font/Museo300.otf') format('opentype');
 
    font-weight: normal;
    font-style: normal;
}

@import url(css/noncompliant.css);
    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

* {
    font-family: 'museo300'!important;
	}

article, aside, dialog, figure, footer, header, hgroup, nav, section {
    display: block;
}
:focus {
    outline: 0;
}
body {
    line-height: 1;
    color: black;
    background: white;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    font-weight: normal;
}
table, td, th {
    vertical-align: top;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
a img {
    border: none;
}
.Color0_Bg, #SearchBar {
    background-color: #09c;
}
.Color0, h1, h4, a, a:link, a:active, a:visited, a:hover {
    color: #09c;
}
.Color1_Bg, #BgLayer1 {
    background-color: #eaeaea;
}
.Color2_Bg, #MenuH ul.menu, #MenuV {
    background-color: #404040;
}
.Color3_Bg, #MenuH ul.menu>li:hover, #MenuV ul.menu>li:hover, #MenuH ul.menu>li.current, #MenuV ul.menu>li.current, #MenuH .submenu, #MenuV .submenu {
    background-color: #187998;
}
.Color4_Bg, .C01, .C03 .TL, .ms-WPHeader td {
    background-color: #09c;
}
.Color4, .C05 .CTitle {
    color: #09c;
}
.Color5_Bg, .C02, .C04 .TL {
    background-color: #a5dcee;
}
.Color5, .C06 .CTitle {
    color: #a5dcee;
}
#BgLayer1 {
    background: #eaeaea;
}

html, body {
    font-size: 12px;
}
a, a:link, a:active, a:visited {
    color: #09c;
}
#Cart .cartlink, #Cart .cartprice, #User .welcome a, #User .welcome a:link, #User .welcome a:visited, #User .welcome a:active, #Login .user-actions a, #Login .user-actions a:link, #Login .user-actions a:visited, #Login .user-actions a:active, #Logo a, #Logo, #Language .language {
    color: #fff;
}
#Copyright .Copyright, #Privacy .privacylink, #Terms .termslink, #Sitemap .sitemaplink {
    color: #fff;
}
#MenuH ul.menu, #MenuV {
    background-color: #404040;
}
#MenuH ul.menu>li>a, #MenuV ul.menu>li>a, #Search .searchadvancedlink {
    color: #fff;
}
#MenuH ul.menu>li:hover, #MenuV ul.menu>li:hover, #MenuH ul.menu>li.current, #MenuV ul.menu>li.current, #MenuH .submenu, #MenuV .submenu {
    background-color: #187998;
}
#MenuH ul.menu>li:hover>a, #MenuV ul.menu>li:hover>a, #MenuH ul.menu>li.current>a, #MenuV ul.menu>li.current>a, #MenuH .submenu li a, #MenuV .submenu li a, #MenuH .submenu li.current>a, #MenuV .submenu li.current>a {
    color: #fff;
}
#MenuH .submenu li:hover>a, #MenuV .submenu li:hover>a, #MenuH .submenu li.current>a, #MenuV .submenu li.current>a {
    color: #fff;
}
.C01, .C03 .TL, .ms-WPHeader td {
    background-color: #09c;
}
.C01 .CTitle, .C03 .CTitle, .ms-WPHeader .ms-WPTitle, .ms-WPHeader .ms-WPTitle a:link, .ms-WPHeader .ms-WPTitle a:visited {
    color: #fff;
}
.C01 .MM, .C01 .MM p, .C01 .MM div, .C01 .MM a, .C01 .MM a:link, .C01 .MM h1, .C01 .MM h2, .C01 .MM h3, .C01 .MM h4, .C01 .MM h5, .C01 .MM h6, .C01 .MM span, .C01 .MM td {
    color: #fff;
}
.C02, .C04 .TL {
    background-color: #ffffff; /*#a5dcee;*/
}
.C02 .CTitle, .C04 .CTitle {
    color: #404040;
}
.C02 .MM, .C02 .MM p, .C02 .MM div, .C02 .MM a, .C02 .MM a:link, .C02 .MM h1, .C02 .MM h2, .C02 .MM h3, .C02 .MM h4, .C02 .MM h5, .C02 .MM h6, .C02 .MM span, .C02 .MM td {
    color: #444;
}
h1, h2, h3, h4, h5, h6, p, li {
    line-height: 1.3em;
}
h1 {
    font-size: 2.3em;
    font-weight: 700;
    margin-bottom: .2em;
}
h2 {
    color: #222;
    font-size: 2.0em;
    font-weight: 500;
    margin-bottom: .3em;
}
h3 {
    color: #555;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: .5em;
}
h4 {
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: .5em;
}
h5 {
    color: #000;
    font-size: 1.0em;
    font-weight: 700;
    margin-bottom: .5em;
}
h6 {
    color: #000;
    font-size: 1.0em;
    font-weight: 700;
    margin-bottom: .5em;
}
p {
    font-size: 100%;
    margin: 0 0 1em;
}
p img.left {
    float: left;
    margin: 1.5em 1.5em 1.5em 0;
    padding: 0;
}
p img.right {
    float: right;
    margin: 1.5em 0 1.5em 1.5em;
}
a, a:link, a:visited, a:active {
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
blockquote {
    color: #777;
    font-family: inherit;
    font-size: 1.0em;
    font-style: italic;
}
strong, b {
    font-weight: bold;
}
em, dfn, i {
    font-style: italic;
}
dfn {
    font-weight: bold;
}
sup, sub {
    line-height: 0;
}
abbr, acronym {
    border-bottom: 1px dotted #666;
}
address {
    margin: 0 0 1.5em;
    font-style: italic;
}
del {
    color: #666;
}
pre {
    margin: 1.5em 0;
    white-space: pre;
}
pre, code, tt {
    font: 1em 'andale mono', 'lucida console', monospace;
    line-height: 1.5;
}
li ul, li ol {
    margin: 0;
}
ul, ol {
    margin: 0 1.5em 1.5em 0;
    padding-left: 2.5em;
}
ul, ul li {
    list-style-type: disc;
}
ol, ol li {
    list-style-type: decimal;
}
dl {
    margin: 0 0 1.5em 0;
}
dl dt {
    color: #333;
    font-weight: bold;
}
dd {
    margin-left: 1.5em;
}
.Form dt, .Form dd {
    float: left;
    padding-top: 6px;
}
.Form dt {
    clear: both;
    width: 150px;
}
table, .Table {
    border-collapse: collapse;
}
.Table caption, .Table th {
    border-bottom: 1px #ccc solid;
}
.Table caption, .Table th, .Table td {
    padding: 3px;
}
.Table tfoot td {
    border-top: 1px #ccc solid;
    color: #666;
    font-style: italic;
}
th, thead, tfoot {
    color: #000;
}
thead th {
    background: #ccc;
}
tr.even td {
    background: #eee;
}
tfoot {
    font-style: italic;
}
caption {
    background: #e7e7e7;
}
hr {
    background: #ccc;
    border: none;
    clear: both;
    height: 1px;
}
fieldset {
    background: #f5f5f5;
    border: 1px #d0d0d0 solid;
    margin-bottom: 10px;
    padding: 10px;
}
legend {
    font-family: inherit;
    font-size: inherit;
    color: #333;
}
input[type=password], input[type=text], textarea, select {
    background: #fff;
    border-color: #d0d0d0!important;
    border-style: solid!important;
    border-width: 1px!important;
    color: #000;
    font-family: inherit;
    font-size: 1em;
    margin: .25em 0;
    padding: 3px;
}
input[type=submit], input[type=reset], input[type=button], button, .btn {
    background: #444 url(../Content/Images/inputbtn.png) no-repeat top left;
    border: none;
    color: #fff!important;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: .85em;
    height: auto;
    margin-bottom: 10px;
    padding: 9px 7px;
    text-decoration: none!important;
    text-transform: uppercase;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
    height: 0;
    line-height: 0;
}
html {
    height: 100%;
}
body, #body, #Body, #form, #Form {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
#BgLayer1 {
    display: table;
    height: 100%;
    min-height: 100%;
    position: relative;
    width: 100%;
}
#BgLayer2, #BgLayer3 {
    height: 100%;
}
#Wrapper {
    height: 100%;
    min-height: 100%;
}
#Outer {
    margin: 0 auto;
    display: table;
}
#HeaderArea {
    min-height: 120px;
    position: relative;
}
.BannerZone {
    position: relative;
    z-index: 0;
}
#HeaderAreaShadow {
    background: transparent url(../Content/Images/topbanner.bg.png) repeat-x top;
    height: 1px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    width: 100%;
}
#NavAux {
    position: absolute;
    right: 10px;
    top: 20px;
}
#NavAux div {
    float: right;
    margin-left: 10px;
	display: none;
}
#ContentArea {
    background: #fff;
    display: table;
    width: 100%;
}
#ContentAreaWrapper {
    float: left;
    width: 100%;
}
#MainContentArea {
    padding: 10px;
}
#SideBar {
    float: left;
    margin-left: -100%;
}
#SideBar .container-box {
    margin: 0 0 10px!important;
}
#FooterContentArea {
    background: #fff;
    padding: 10px;
}
#Footer {
    /* background-image: url(../Content/Images/footer.bg.png); */
    background-repeat: repeat-x;
    background-position: top;
    clear: both;
    padding: 35px 20px;
}
#Footer>span {
    border-right: 1px #666 solid;
    padding: 0 5px;
}
#Breadcrumb {
    margin-bottom: 10px;
}
#Breadcrumb .breadcrumblink, #Breadcrumb .breadcrumblinkhover, #Breadcrumb .breadcrumblinkcurrent {
    color: #999;
    margin: 3px 5px;
}
#Breadcrumb .breadcrumblinksep {
    color: #ccc;
}
#Breadcrumb .breadcrumblinkcurrent {
    font-weight: bold;
}
#Cart {
    float: right;
    margin-left: 30px!important;
    padding-bottom: 25px;
}
#Cart .carticon {
    display: none;
}
#Cart .cartlink {
    font-size: .9em;
    text-decoration: none;
}
#Cart .cartlinkhover {
    text-decoration: underline;
}
#Cart .cartprice {
    font-weight: bold;
}
#Cart .cartsep {
    color: #fff;
    color: rgba(255, 255, 255, .3);
}
#Copyright {
    display: inline-block;
}
#Language .language {
    border: 1px transparent solid;
    display: inline-block;
    margin: 0 0 0 5px;
    text-decoration: none;
}
#Language .languageselected {
    border: 1px #fff solid;
}
#Login .user-actions a, #Login .user-actions a:link, #Login .user-actions a:visited, #Login .user-actions a:active {
    line-height: 1em;
    text-transform: none;
}
#Logo {
    left: 10px;
    position: absolute;
    margin: 0 20px 0;
    top: 30px;
}
#Logo .logoimg {
    border: none;
}
#MenuH {
    background-image: url(../Content/Images/menu.bg.shadow.png);
    background-repeat: repeat-x;
    margin-top: -4px;
    padding: 4px 0;
}
#MenuH ul.menu {
    background-image: url(../Content/Images/menu.bg.png);
    background-repeat: repeat-x;
    background-position: top;
    width: 100%;
}
#MenuH ul.menu>li {
    text-decoration: none;
}
#MenuH ul.menu>li:hover, #MenuH ul.menu>li.current {
    background-image: url(../Content/Images/menu.bg.png);
    background-repeat: repeat-x;
    background-position: top;
    text-decoration: none;
}
#MenuH ul.menu>li>a, #MenuH ul.menu>li:hover>a, #MenuH ul.menu>li.current>a {
    /*background-image: url(../Content/Images/menu.sep.png);*/
    background-repeat: no-repeat;
    background-position: right 1px;
    font-family: inherit;
    font-size: 100%!important;
    padding: 12px 16px;
    text-transform: uppercase;
    text-decoration: none;
}
#MenuV ul.menu {
    width: 100%;
    background-color:#1e86cc;
}
 #MenuV ul.menu>li {
    border-bottom: 1px solid #e4f0eb;
}

#MenuV ul.menu>li.first+li.last {
    border-bottom: none;
}

#MenuV ul.menu>li>a, #MenuV ul.menu>li:hover>a, #MenuV ul.menu>li.current>a {
    font-family: inherit;
    font-size: 100%!important;
    padding: 12px 16px;
    text-decoration: none;
    text-transform: uppercase;
}

#MenuH .submenu, #MenuV .submenu {
    min-width: 180px;
    padding: 0;
    white-space: nowrap;
    z-index: 9999;
}
/*submenu color*/
#MenuH .submenu li, #MenuV .submenu li {
    background-color:  #1e86cc;

    line-height: 140%;
    text-decoration: none;
}
#MenuH .submenu li:hover, #MenuH .submenu li.current, #MenuV .submenu li:hover, #MenuV .submenu li.current {
    background-color: cadetblue ;
    line-height: 140%;
    text-decoration: none;
}
#MenuH .submenu li a, #MenuH .submenu li:hover>a, #MenuH .submenu li.current>a, #MenuV .submenu li a, #MenuV .submenu li:hover>a, #MenuV .submenu li.current>a {
    background: none;
    font-size: 1em!important;
    padding: 8px 14px;
    text-decoration: none;
    text-transform: none;
}
.megamenu .mega .submenu .submenu, .megamenu .mega .submenu .submenu {
    min-width: 150px!important;
}
.megamenu .mega .submenu li, .megamenu .mega .submenu li {
    background: none!important;
}
.megamenu .mega .submenu .submenu li, .megamenu .mega .submenu .submenu li:hover, .megamenu .mega .submenu .submenu li.current, .megamenu .mega .submenu .submenu li, .megamenu .mega .submenu .submenu li:hover, .megamenu .mega .submenu .submenu li.current {
    background: none!important;
    font-size: .9em;
    padding-left: 15px;
}
#MenuV.accordion .submenu {
    min-width: 100px!important;
}
#MenuV.accordion .submenu li, #MenuV.accordion .submenu li:hover, #MenuV.accordion .submenu li.current {
    background: url(../Content/Images/submenu.item.bg.top.png) repeat-x top;
    padding-left: 15px!important;
}
#MenuV.accordion .submenu .submenu li, #MenuV.accordion .submenu .submenu li:hover, #MenuV.accordion .submenu .submenu li.current {
    background: none;
    font-size: .9em;
    padding-left: 15px!important;
}
#Privacy {
    display: inline-block;
}
#Search {
    background-image: url(../Content/Images/search.shadow.png);
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0px;
    right: 22px;
    width: 266px;
    height: 84px;
}
#Search #SearchBar {
    background-image: url(../Content/Images/search.bg.png);
    background-repeat: no-repeat;
    background-position: top left;
    margin: 4px 4px 0 4px;
    overflow: hidden;
}
#Search .search-form input[type=text] {
    background: #fff;
    border: none!important;
    color: black;
    font-size: 12px;
    height: 18px;
    margin: 0;
    padding: 10px 6px;
    width: 206px!important;
}
#Search .search-form button[type=submit] {
    background: transparent none;
    border: none;
    display: inline-block;
    font-size: 0;
    height: 40px;
    line-height: 40px;
    vertical-align: top;
    width: 36px;
    margin: 0;
}
#Sitemap {
    display: inline-block;
}
#Terms {
    display: inline-block;
}
.user-display {
    display: inline;
}
.user-display .welcome, .user-display .user-actions a {
    margin-right: 5px;
}
.search-form fieldset {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
}
.search-form button[type="submit"] {
    cursor: pointer;
    margin: 0;
}
.pane {
    display: inline;
    float: left;
    text-align: left;
    vertical-align: top;
}
.w5 {
    width: 5%;
}
.w10 {
    width: 10%;
}
.w15 {
    width: 15%;
}
.w20 {
    width: 20%;
}
.w25 {
    width: 25%;
}
.w30 {
    width: 30%;
}
.w33 {
    width: 33%;
}
.w34 {
    width: 34%;
}
.w35 {
    width: 35%;
}
.w40 {
    width: 40%;
}
.w45 {
    width: 45%;
}
.w50 {
    width: 50%;
}
.w55 {
    width: 55%;
}
.w60 {
    width: 60%;
}
.w65 {
    width: 65%;
}
.w66 {
    width: 66%;
}
.w67 {
    width: 67%;
}
.w70 {
    width: 70%;
}
.w75 {
    width: 75%;
}
.w80 {
    width: 80%;
}
.w85 {
    width: 85%;
}
.w90 {
    width: 90%;
}
.w95 {
    width: 95%;
}
.w100 {
    width: 100%;
}
.EmptyZone {
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
    line-height: 0;
    display: none!important;
}
.showZone span {
    border: 1px #777 dotted;
    color: #999;
    display: block;
    padding: 10px;
    margin: 1px;
    text-align: center;
}
.zonegroup {
    clear: both;
}
#Breadcrumb, #Cart, #Date, #Language, #Privacy, #Sitemap, #Terms {
    display: none!important;
}
ul.menu {
    margin: 0;
    padding: 0;
}
ul.menu a {
    color: inherit;
    font: inherit;
}
ul.admin li {
    float: left;
    list-style: none;
    padding: 0 0 0 20px;
}
#MenuH ul.menu>li {
    float: left;
}
#MenuH ul.menu, #MenuH ul.menu li, #MenuH ul.menu li a {
    display: inline-block;
    list-style: none;
}
#MenuV ul.menu, #MenuV ul.menu li, #MenuV ul.menu li a, #MenuH ul.menu ul li, #MenuH ul.menu ul li a, #MenuV ul.menu ul li, #MenuV ul.menu ul li a {
    display: block;
    list-style: none;
}
#MenuH .widget, #MenuV .widget {
    margin-bottom: 0;
}
#MenuH .submenu, #MenuV .submenu {
    display: none;
}
#Logo h1 {
    margin-bottom: 0;
}
#Search form {
    margin: 0;
}
.widget-control .manage-actions {
    margin: -15px 0 0;
    position: absolute;
}
.IE7.cmsORX .container-box .TM {
    overflow: hidden!important;
}
.IE7.cmsORX .c_title {
    float: left!important;
}
.IE7.cmsORX #MenuH {
    z-index: 1001;
}
.IE7.cmsORX #MenuV {
    z-index: 1000;
}
.IE7.cmsORX #MenuH .menu>li {
    display: inline;
    zoom: 1;
    list-style: none;
    float: none;
}
.IE7.cmsORX #MenuH .menu>li>a {
    float: left;
}
.IE7.cmsORX #MenuH .submenu {
    text-align: left;
    width: 180px;
}
.IE7.cmsORX #MenuH .submenu li a {
    white-space: normal;
    display: block;
}
#Copyright {
    border: none!important;
}
.C00_Clean.container-box {
    margin: 0 10px 10px;
}
.C00_CleanWPadding.container-box {
    margin: 0 10px 10px;
}
.C00_CleanWPadding {
    padding: 10px;
}
.C05 {
    margin: 0 7px 10px;
}
.C05 .TM {
    padding: 6px 10px 6px 16px;
}
.C05 .TM .CTitle {
    font-family: inherit;
    font-size: 1.3em;
    text-transform: uppercase;
}
.C05 .MM {
    padding: 6px 10px 16px 16px;
}
.C06 {
    margin: 0 7px 10px;
}
.C06 .TM {
    padding: 6px 10px 6px 16px;
}
.C06 .TM .CTitle {
    font-family: inherit;
    font-size: 1.3em;
    text-transform: uppercase;
}
.C06 .MM {
    padding: 6px 10px 16px 16px;
}
.C03 {
    margin: 0 7px 10px;
}
.C03 .TL {
    background-image: url("C0X.bg.png");
    background-repeat: repeat-x;
    background-position: top;
}
.C03 .TM {
    padding: 12px 10px 10px 16px;
}
.C03 .TM .CTitle {
    font-family: inherit;
    font-size: 1.3em;
    text-transform: uppercase;
}
.C03 .ML {
    border: 1px #ccc solid;
}
.C03 .MM {
    padding: 12px 10px 16px 16px;
}
.C04 {
    margin: 0 7px 10px;
}
.C04 .TL {
    background-image: url("C0X.bg.png");
    background-repeat: repeat-x;
    background-position: top;
}
.C04 .TM {
    padding: 12px 10px 10px 16px;
}
.C04 .TM .CTitle {
    font-family: inherit;
    font-size: 1.3em;
    text-transform: uppercase;
}
.C04 .ML {
    border: 1px #ccc solid;
}
.C04 .MM {
    padding: 12px 10px 16px 16px;
}
.C01 {
    margin: 0 7px 10px;
}
.C01 .TM {
    padding: 12px 10px 0 16px;
}
.C01 .TM .CTitle {
    font-family: inherit;
    font-size: 1.3em;
    text-transform: uppercase;
}
/*list box*/
.C01 .MM {
    padding: 12px 10px 16px 16px;
}
.C02 {
    background-image: url("C0X.bg.png");
    background-repeat: repeat-x;
    background-position: top;
    margin: 0 7px 10px;
}
.C02 .TM {
    padding: 12px 10px 0 16px;
}
.C02 .TM .CTitle {
    font-family: inherit;
    font-size: 1.3em;
    text-transform: uppercase;
}
.C02 .MM {
    padding: 12px 10px 16px 16px;
}
.Color0_Bg {
    background-color: #1e86cc;
}
#SearchBar {
    background-color: #ffffff; /*#293939;*/
}
.Color0 {
    color: #293939;
}
h1 {
    color: #293939;
}
h4 {
    color: #293939;
}
a {
    color: #293939;
}
a:link {
    color: #293939;
}
a:active {
    color: #293939;
}
a:visited {
    color: #293939;
}
a:hover {
    color: #293939;
}
.Color1_Bg {
    background-color: #EDEDED;
}
#BgLayer1 {
    background-color: #EDEDED;
}
.Color1 {
    color: #EDEDED;
}
.Color2_Bg {
    background-color: #293939;
}
#MenuH ul.menu {
    background-color: #293939;
}
#MenuV {
    background-color: #293939;
}
.Color2 {
    color: #293939;
}
.Color3_Bg {
    background-color: #787878;
}
#MenuH ul.menu>li:hover {
    background-color: #787878;
}
#MenuV ul.menu>li:hover {
    background-color: #787878;
}
#MenuH ul.menu>li.current {
    background-color: #787878;
}
#MenuV ul.menu>li.current {
    background-color: #787878;
}
#MenuH .submenu {
    background-color: #787878;
}
#MenuV .submenu {
    background-color: #787878;
}
.Color3 {
    color: #787878;
}
.Color4_Bg {
    background-color: #75393B;
}
.C01 {
    background-color: #75393B;
}
.C03 .TL {
    background-color: #75393B;
}
.ms-WPHeader td {
    background-color: #75393B;
}
.Color4 {
    color: #75393B;
}
.C05 .CTitle {
    color: #75393B;
}
.Color5_Bg {
    background-color: #CDC7B7;
}
.C02 {
    background-color: #CDC7B7;
}
.C04 .TL {
    background-color: #CDC7B7;
}
.Color5 {
    color: #CDC7B7;
}
.C06 .CTitle {
    color: #CDC7B7;
}
#BgLayer3 {
    background-color: rgba(0, 0, 0, 0);
}
#BgLayer3 {
    background-position: left top;
}
#BgLayer3 {
    background-attachment: scroll;
}
#BgLayer3 {
    background-repeat: no-repeat;
}

#BgLayer2 {
    background-color: rgba(0, 0, 0, 0);
}
#BgLayer2 {
    background-position: left top;
}
#BgLayer2 {
    background-attachment: scroll;
}
#BgLayer2 {
    background-repeat: no-repeat;
}

/* here to change the color */
#BgLayer1 {
    background-color: #d7d6d6;
}
#BgLayer1 {
    background-position: left top;
}
#BgLayer1 {
    background-attachment: scroll;
}
#BgLayer1 {
    background-repeat: repeat;
}
#BgLayer1 {
    background-image: none;
}

html {
    font-size: 13px;
}
body {
    font-size: 13px;
}
body {
    color: #333;
}
a {
    color: #293939;
}
a:link {
    color: #293939;
}
a:active {
    color: #293939;
}
a:visited {
    color: #293939;
}
a:hover {
    color: #293939;
}
#Cart .cartlink {
    color: #fff;
}
#Cart .cartprice {
    color: #fff;
}
#User .welcome a {
    color: #fff;
}
#User .welcome a:link {
    color: #fff;
}
#User .welcome a:visited {
    color: #fff;
}
#User .welcome a:active {
    color: #fff;
}
#Login .user-actions a {
    color: #fff;
}
#Login .user-actions a:link {
    color: #fff;
}
#Login .user-actions a:visited {
    color: #fff;
}
#Login .user-actions a:active {
    color: #fff;
}
#Logo a {
    color: #fff;
}
#Logo {
    color: #fff;
}
#Language .language {
    color: #fff;
}
#Copyright .Copyright {
    color: #fff;
}
#Privacy .privacylink {
    color: #fff;
}
#Terms .termslink {
    color: #fff;
}
#Sitemap .sitemaplink {
    color: #fff;
}
.PageWidth {
    width: 970px;
}
#MenuH {
    display: none;
}
.MenuVWidth {
    width: 220px;
}
#MainContentArea {
    margin-left: 220px;
}
#MenuH ul.menu {
    background-color: #000;
}
#MenuV {
    background-color: #000;
}
/*accessibility box*/

#MenuH ul.menu>li>a {
    color: #d23f45;

}
#MenuV ul.menu>li>a {
    color: white;
  
}

#Search .searchadvancedlink {
    color: #FFF;
}
#MenuH ul.menu>li:hover {
    background-color: cadetblue ;
}
#MenuV ul.menu>li:hover {
    background-color: cadetblue ;
}
#MenuH ul.menu>li.current {
    background-color: cadetblue ;
}
#MenuV ul.menu>li.current {
    background-color: cadetblue ;
}
#MenuH .submenu {
    background-color: #000;
}
#MenuV .submenu {
    background-color: #000;
}
#MenuH .submenu li:hover{
    background-color: cadetblue ;
}
#MenuV .submenu li:hover{
    background-color: cadetblue ;
}
#MenuH .submenu li.current{
    background-color: cadetblue ;
}
#MenuV .submenu li.current{
    background-color: cadetblue ;
}
#MenuH ul.menu>li:hover>a {
    color: #FFF;
}
#MenuV ul.menu>li:hover>a {
    color: #FFF;
}
#MenuH ul.menu>li.current>a {
    color: #FFF;
}
#MenuV ul.menu>li.current>a {
    color: #FFF;
}
#MenuH .submenu li a {
    color: #d23f45;
}

#MenuH .submenu li.current>a {
    color: #FFF;
}
#MenuV .submenu li.current>a {
    color: #FFF;
}
#MenuH .submenu li:hover>a {
    color: #fff;
}
#MenuV .submenu li:hover>a {
    color: #fff;
}
#MenuH .submenu li.current>a {
    color: #fff;
}
#MenuV .submenu li.current>a {
    color: #fff;
}
/*language box*/
.C01 {
    background-color: #1e86cc;
}
.C03 .TL {
    background-color: #CEDAF0;
}
.ms-WPHeader td {
    background-color: #CEDAF0;
}
.C01 .CTitle {
    color: #293939;
}
.C03 .CTitle {
    color: #293939;
}
.ms-WPHeader .ms-WPTitle {
    color: #293939;
}
.ms-WPHeader .ms-WPTitle a:link {
    color: #293939;
}
.ms-WPHeader .ms-WPTitle a:visited {
    color: #293939;
}
.C01 .MM {
    color: #293939;
}
.C01 .MM p {
    color: #293939;
}
.C01 .MM div {
    color: #293939;
}
.C01 .MM a {
    color: #293939;
}
.C01 .MM a:link {
    color: #293939;
}
.C01 .MM h1 {
    color: #293939;
}
.C01 .MM h2 {
    color: #293939;
}
.C01 .MM h3 {
    color: #293939;
}
.C01 .MM h4 {
    color: #293939;
}
.C01 .MM h5 {
    color: #293939;
}
.C01 .MM h6 {
    color: #293939;
}
.C01 .MM span {
    color: #293939;
}
.C01 .MM td {
    color: #293939;
}
.C02 {
    background-color: #F2DCDC;
}
.C04 .TL {
    background-color: #F2DCDC;
}
.C02 .CTitle {
    color: #FFF;
}
.C04 .CTitle {
    color: #FFF;
}
.C02 .MM {
    color: #211;
}
.C02 .MM p {
    color: #211;
}
.C02 .MM div {
    color: #211;
}
.C02 .MM a {
    color: #211;
}
.C02 .MM a:link {
    color: #211;
}
.C02 .MM h1 {
    color: #211;
}
.C02 .MM h2 {
    color: #211;
}
.C02 .MM h3 {
    color: #211;
}
.C02 .MM h4 {
    color: #211;
}
.C02 .MM h5 {
    color: #211;
}
.C02 .MM h6 {
    color: #211;
}
.C02 .MM span {
    color: #211;
}
.C02 .MM td {
    color: #211;
}
.C05 .CTitle {
    color: #75393B;
}
.C06 .CTitle {
    color: #CDC7B7;
}
.menu-help-en-g-b
{
    background-color: #FFFF80;
}

.menu-help-en-g-b ul.submenu li:first-child {
    background-color: #FFFF80;
}

#Header .MM p {
    line-height: 0;
}

#Header .MM {
    background-color: #1e86cc;
}

.changeCulture label,
#Copyright a {
    color: white;
}