 *
 {
  pointer-events: none;
  
 }
 
  #player
 {
  pointer-events: auto !important;
  
 }
 
   #pauseplay
 {
  pointer-events: auto !important;
   
 }
 
  
    .thesharediv
 {
  pointer-events: auto !important;
   
 }
 
    #clickablecomplete
 {
  pointer-events: auto !important;
   
 }
 
    #clickablegameover
 {
  pointer-events: auto !important;
   
 }
     #clickableshare
 {
  pointer-events: auto !important;
   
 }
 
      #clickablebuy
 {
  pointer-events: auto !important;
   
 }
 
 
 
 /* responsive */
 
 
  @media (min-width:280px)  { 
/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
.container

{
	zoom:0.7;
}
#myModal

{
	zoom:0.5;
}
#player
{
width:25px;height:25px;
bottom:1vh;
}

				.bg {
 
  

  /* Full height */
  height: 100%; 

background: url(../maingame/icons/backgrounds/portraitnightmode.png) no-repeat center center fixed;
    -webkit-background-size: 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

				.bgalt {
 
  

  /* Full height */
  height: 100%; 

background: url(../maingame/icons/backgrounds/0_portraitnightmode.png) no-repeat center center fixed;
    -webkit-background-size: 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


}
 
 
 
   @media (min-width:320px)  { 
/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
.container

{
	zoom:0.7;
}
#myModal

{
	zoom:0.5;
}#player
{
width:25px;height:25px;
bottom:1vh;
}

				.bg {
 
  

  /* Full height */
  height: 100%; 

background: url(../maingame/icons/backgrounds/portraitnightmode.png) no-repeat center center fixed;
    -webkit-background-size: 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

				.bgalt {
 
  

  /* Full height */
  height: 100%; 

background: url(../maingame/icons/backgrounds/0_portraitnightmode.png) no-repeat center center fixed;
    -webkit-background-size: 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}




}


 @media (min-width:340px)  { 
/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 


#player
{
width:60px;height:60px;
bottom:14vh;
}

				.bg {
 
  

  /* Full height */
  height: 100%; 

background: url(../maingame/icons/backgrounds/portraitnightmode.png) no-repeat center center fixed;
    -webkit-background-size: 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

				.bgalt {
 
  

  /* Full height */
  height: 100%; 

background: url(../maingame/icons/backgrounds/0_portraitnightmode.png) no-repeat center center fixed;
    -webkit-background-size: 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


}
    @media (min-width:480px)  {
	/* smartphones, Android phones, landscape iPhone */ 
	
	
	#player
{
width:60px;height:60px;
bottom:8vh;
}
					.bg {
 
  

  /* Full height */
  height: 100%; 

background: url(../maingame/icons/backgrounds/landscapenightmode.png) no-repeat center center fixed;
    -webkit-background-size: 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


					.bgalt {
 
  

  /* Full height */
  height: 100%; 

background: url(../maingame/icons/backgrounds/0_landscapenightmode.png) no-repeat center center fixed;
    -webkit-background-size: 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


	
	
	}
    @media (min-width:600px)  { 
	/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
	
	
		#player
{
width:60px;height:60px;
bottom:10vh;
}
					.bg {
 
  

  /* Full height */
  height: 100%; 

background: url(../maingame/icons/backgrounds/landscapenightmode.png) no-repeat center center fixed;
    -webkit-background-size: 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

					.bgalt {
 
  

  /* Full height */
  height: 100%; 

background: url(../maingame/icons/backgrounds/0_landscapenightmode.png) no-repeat center center fixed;
    -webkit-background-size: 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

	
	
	}
    @media (min-width:801px)  {
	/* tablet, landscape iPad, lo-res laptops ands desktops */ 
	
	
			#player
{
width:60px;height:60px;
bottom:11vh;
}
	
					.bg {
 
  

  /* Full height */
  height: 100%; 

background: url(../maingame/icons/backgrounds/landscapenightmode.png) no-repeat center center fixed;
    -webkit-background-size: 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
	
	
						.bgalt {
 
  

  /* Full height */
  height: 100%; 

background: url(../maingame/icons/backgrounds/0_landscapenightmode.png) no-repeat center center fixed;
    -webkit-background-size: 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


	
	}
    @media (min-width:1025px) { 
	/* big landscape tablets, laptops, and desktops */ 
	
	
		
			#player
{
width:60px;height:60px;
bottom:11.7vh;
}
	
					.bg {
 
  

  /* Full height */
  height: 100%; 

background: url(../maingame/icons/backgrounds/landscapenightmode.png) no-repeat center center fixed;
    -webkit-background-size: 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

					.bgalt {
 
  

  /* Full height */
  height: 100%; 

background: url(../maingame/icons/backgrounds/0_landscapenightmode.png) no-repeat center center fixed;
    -webkit-background-size: 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


	
	
	}
    @media (min-width:1281px) { 
	/* hi-res laptops and desktops */
	
				#player
{
width:60px;height:60px;
bottom:13vh;
}
	
					.bg {
 
  
 
  /* Full height */
  height: 100%; 

background: url(../maingame/icons/backgrounds/landscapenightmode.png) no-repeat center center fixed;
    -webkit-background-size: 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


					.bgalt {
 
  
 
  /* Full height */
  height: 100%; 

background: url(../maingame/icons/backgrounds/0_landscapenightmode.png) no-repeat center center fixed;
    -webkit-background-size: 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

	
	
	}

.progress-bar {
background-color:#6f0d36 !important;
}
 /* responsive */
 
 
 
 /*snackbar*/
 
 #snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 3px;
  font-size: 19px;
 
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 5s;
}

@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;} 
  to {top: 3px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 3px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 3px; opacity: 1;} 
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 3px; opacity: 1;}
  to {top: 0; opacity: 0;}
}
 /*snackbar*/